[submodule "lib/infinity-core"]
	path = lib/infinity-core
	url = https://github.com/choice-exchange/infinity-core.git
[submodule "lib/infinity-periphery"]
	path = lib/infinity-periphery
	url = https://github.com/choice-exchange/infinity-periphery.git
[submodule "lib/infinity-universal-router"]
	path = lib/infinity-universal-router
	url = https://github.com/choice-exchange/infinity-universal-router.git
